pandas
numpy
scikit-learn
matplotlib
plotly
seaborn
streamlit
xgboost
lightgbm
catboost
scipy
statsmodels
joblib
openpyxl
xlrd
pyyaml
missingno
sweetviz
ydata-profiling
imbalanced-learn
yellowbrick
kmodes
kneed
shap
lime
mlflow
streamlit-option-menu
streamlit-aggrid
streamlit-extras
plotly-express
altair
networkx
faker
python-dotenv
sqlalchemy
psycopg2-binary
pymysql
jupyter
notebook
ipykernel